*{
    font-family: 'Poppins', sans-serif;
}
.top-bar{
    height: auto;
}
.search-bar{
    height: auto;
}
.product-img img{
    height: 200px;
}
#user-name input[type=text]{
    outline: none;
}
#user-name input[type=text]:focus{
    outline: none;
}

@media (max-width: 768px){ 
    .brand-name{
        display: none;
    }
    /* .top-bar-icon a{
        display: none;
    } */
}
@media (min-width : 577px){
    .top-bar-icon i{
        display: none;
    }
}
@media (max-width : 576px){
    .top-bar-icon a{
        display: none;
    }
}
